<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boes.peretz.frumtoronto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DirectoryActivity"
            android:label="@string/title_activity_directory"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlertsActivity"
            android:label="@string/title_activity_alerts"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassifiedActivity"
            android:label="@string/title_activity_classified"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShulsAndTefillosActivity"
            android:label="@string/title_activity_shuls_and_tefillos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuisnessDirectoryActivity"
            android:label="@string/title_activity_buisness_directory"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".CalendarWebPageActivity"
            android:label="@string/title_activity_calendar_web_page"
            android:parentActivityName=".CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".DirectoryRatesActivity"
            android:label="@string/title_activity_directory_rates"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".AdvancedSearchActivity"
            android:label="@string/title_activity_advanced_search"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".BusinessServicesActivity"
            android:label="@string/title_activity_business_services"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".ClothingAndAccessoriesActivity"
            android:label="@string/title_activity_clothing_and_accessories"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".FinancialServicesActivity"
            android:label="@string/title_activity_financial_services"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".GovernmentAndInstitutionsActivity"
            android:label="@string/title_activity_government_and_institutions"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".HealthAndBeautyActivity"
            android:label="@string/title_activity_health_and_beauty"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".HomeAndGardenActivity"
            android:label="@string/title_activity_home_and_garden"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".JewishCommunityServicesActivity"
            android:label="@string/title_activity_jewish_community_services"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".KosherFoodsActivity"
            android:label="@string/title_activity_kosher_foods"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".PropertyAndAccomodationsActivity"
            android:label="@string/title_activity_property_and_accomodations"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".ServicesActivity"
            android:label="@string/title_activity_services"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".ShoppingActivity"
            android:label="@string/title_activity_shopping"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".SimchasActivity"
            android:label="@string/title_activity_simchas"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".SportAndLeisureActivity"
            android:label="@string/title_activity_sport_and_leisure"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".TransportAndAutoActivity"
            android:label="@string/title_activity_transport_and_auto"
            android:parentActivityName=".DirectoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".WeeklyShiurimActivity"
            android:label="@string/title_activity_weekly_shiurim"
            android:parentActivityName=".CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".ZmanimActivity"
            android:label="@string/title_activity_zmanim"
            android:parentActivityName=".CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".BulletinsAndAlertsActivity"
            android:label="@string/title_activity_bulletins_and_alerts"
            android:parentActivityName=".AlertsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".KosherAlertsActivity"
            android:label="@string/title_activity_kosher_alerts"
            android:parentActivityName=".AlertsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".ShivaNotificationsActivity"
            android:label="@string/title_activity_shiva_notifications"
            android:parentActivityName=".AlertsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".ClassifiedWebPageActivity"
            android:label="@string/title_activity_classified_web_page"
            android:parentActivityName=".ClassifiedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".WeeklySpecialsActivity"
            android:label="@string/title_activity_weekly_specials"
            android:parentActivityName=".ClassifiedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".DaveningScheduleActivity"
            android:label="@string/title_activity_davening_schedule"
            android:parentActivityName=".ShulsAndTefillosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".ShulListingsActivity"
            android:label="@string/title_activity_shul_listings"
            android:parentActivityName=".ShulsAndTefillosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".MinchaListActivity"
            android:label="@string/title_activity_mincha_list"
            android:parentActivityName=".ShulsAndTefillosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".CommunityNewslettersActivity"
            android:label="@string/title_activity_community_newsletters"
            android:parentActivityName=".ShulsAndTefillosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".WeeklyPublicationsActivity"
            android:label="@string/title_activity_weekly_publications"
            android:parentActivityName=".ShulsAndTefillosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".TehillimListActivity"
            android:label="@string/title_activity_tehillim_list"
            android:parentActivityName=".ShulsAndTefillosActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".ContactUsWebpageActivity"
            android:label="@string/title_activity_contact_us_webpage"
            android:parentActivityName=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".AdvertisingRatesActivity"
            android:label="@string/title_activity_advertising_rates"
            android:parentActivityName=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".FrequentlyAskedQuestionsActivity"
            android:label="@string/title_activity_frequently_asked_questions"
            android:parentActivityName=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.webkit.WebView.MetricsOptOut"
                android:value="true" />
            <meta-data
                android:name="android.webkit.WebView.EnableSafeBrowsing"
                android:value="true" />
        </activity>
        <activity
            android:name=".RegisterInThePersonDirectoryActivity"
            android:label="@string/title_activity_register_in_the_person_directory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonDataActivity"
            android:label="@string/title_activity_person_data"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonsDirectoryActivity"
            android:label="@string/title_activity_persons_directory"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
