<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boes.peretz.frumtoronto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/jerusalem_great_synagogue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AlertsActivity"
            android:label="@string/title_activity_alerts"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DirectoryActivity"
            android:label="@string/title_activity_directory"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassifiedActivity"
            android:label="@string/title_activity_classified"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShulsAndTefillosActivity"
            android:label="@string/title_activity_shuls_and_tefillos"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CalendarWebPageActivity"
            android:label="@string/title_activity_calendar_web_page"
            android:parentActivityName=".CalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WeeklyShiurimActivity"
            android:label="@string/title_activity_weekly_shiurim"
            android:parentActivityName=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FrequentlyAskedQuestionsActivity"
            android:label="@string/title_activity_frequently_asked_questions"
            android:parentActivityName=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".ContactUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DaveningScheduleActivity"
            android:label="@string/title_activity_davening_schedule"
            android:parentActivityName=".ShulsAndTefillosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MinchaListActivity"
            android:label="@string/title_activity_mincha_list"
            android:parentActivityName=".ShulsAndTefillosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonDataActivity"
            android:label="@string/title_activity_person_data"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonsDirectorySearchActivity"
            android:label="@string/title_activity_persons_directory_search"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>